/* 
1.1.3 Configuração do ambiente de desenvolvimento
Configurar um ambiente de desenvolvimento para trabalhar com CSS é um processo relativamente simples, mas essencial para eficiência e produtividade (BADALOTTI, 2014; ALVES, 2021). Embora CSS possa ser escrito em qualquer editor de texto básico, como Bloco de Notas ou TextEdit, a utilização de ferramentas apropriadas pode significativamente melhorar sua experiência de desenvolvimento. 

Neste documento estão os passos e ferramentas recomendadas para configurar um ambiente de desenvolvimento otimizado para CSS.

Instalando um editor de texto ou IDE
Embora o seu sistema operacional provavelmente já inclua um editor de texto básico como o Bloco de Notas no Windows, o TextEdit no macOS ou o gedit no Linux Ubuntu, para o desenvolvimento web com CSS você precisará de algo mais avançado. Recomendamos o Visual Studio Code, um editor de texto gratuito que é amplamente utilizado por desenvolvedores devido às suas funcionalidades avançadas (MICROSOFT, 2024). Ele oferece recursos como visualizações ao vivo, que permitem ver em tempo real as mudanças no código, e dicas de código inteligentes, que ajudam a aumentar a produtividade e reduzir erros, tornando o processo de desenvolvimento mais eficiente e intuitivo.

Os ambientes de desenvolvimento integrado (IDEs) como Visual Studio e WebStorm oferecem uma experiência mais robusta com ferramentas integradas para desenvolvimento web. Entretanto, não são necessários para o conteúdo que vamos abordar neste curso.

Uma outra alternativa, útil para testar pequenas partes de código, seria utilizar algum dos editores de código-fonte online. Estas são ferramentas baseadas na web que permitem aos desenvolvedores escrever, editar e testar código diretamente no navegador. Eles oferecem várias funcionalidades que facilitam o desenvolvimento de software sem a necessidade de instalar um ambiente de desenvolvimento local. Podemos citar os seguintes editores de código-fonte online: CodePen, JSFiddle, Repl.it,  Codeply, HTML-CSS-JS, MDN Playground e CSS Online Editor.

Instalando navegadores modernos
Para testar e visualizar seu trabalho, você precisará de navegadores web modernos. Aqui estão algumas sugestões para diferentes sistemas operacionais:

Linux: Firefox, Chrome, Opera, Brave.

Windows: Firefox, Chrome, Opera, Microsoft Edge, Brave. (O Edge já vem instalado por padrão no Windows 10; para versões anteriores, como o Windows 7, recomendamos instalar o Internet Explorer 11 ou outro navegador moderno.)

Mac: Firefox, Chrome, Opera, Safari, Brave. (O Safari já vem instalado por padrão no macOS e iOS.)

É recomendável instalar pelo menos dois navegadores diferentes para garantir que seu site funcione bem em ambientes diversos.
*/